<a href="https://colab.research.google.com/github/MarcGaac/FA/blob/main/FA4%20%E2%80%93%20GAAC%20APM1105.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a Python program to print the even numbers from a given list.

List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 24, 26, 28, 30, 32]

In [1]:
def print_even_numbers(input_list):
    even_numbers = [num for num in input_list if num % 2 == 0]
    print(even_numbers)


input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 15, 17, 19, 24, 26, 28, 30, 32]


print_even_numbers(input_list)

[2, 4, 6, 8, 10, 24, 26, 28, 30, 32]

2. Generate a Python list of all the even numbers between 10 to 60.

In [2]:
even_numbers = [num for num in range(10, 61) if num % 2 == 0]
print(even_numbers)

[10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60]

3. Write a program to create a function show_feu_professor() using the following conditions:

It should accept the professorâ€™s name and salary and display both.
If the salary is missing in the function call then assign default value 70000 to salary.
Expected output: Display of at least 5 FEU professors with their salaries.

In [5]:
def show_feu_professor(name, salary=70000):
    print(f"Professor's Name: {name}, Salary: {salary}")


show_feu_professor("JEFFREY ALVARINA", 80000)
show_feu_professor("NORMITA COBARRUBIAS",)
show_feu_professor("MARIA LOURDES MARIANO", 75000)
show_feu_professor("MARIELLE GIDALANGA", 72000)
show_feu_professor("BUENROSTRO-JOCSON, JANINE NA", 68000)

Professor's Name: JEFFREY ALVARINA, Salary: 80000
Professor's Name: NORMITA COBARRUBIAS, Salary: 70000
Professor's Name: MARIA LOURDES MARIANO, Salary: 75000
Professor's Name: MARIELLE GIDALANGA, Salary: 72000
Professor's Name: BUENROSTRO-JOCSON, JANINE NA, Salary: 68000